@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	padding:0px;
	margin: 0px;
	font-family: roboto;
}
.container{
	padding: 10px;
	font-family: roboto;
	display: none;
}
.title{
	text-align: center;
	margin-top: 20px;
}
table{
	width: 400px;
	text-align: center;
	margin-left: 35%;
	margin-top: 100px;
	padding: 0px;
}
td{
	padding: 50px;
	font-size: 30px;
	width: 200px;
}
.computer-points{
	font-size: 70px;
}
.player-points{
	font-size: 70px;
}
.controls{
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}
.ctrl-btn{
	padding: 10px;
	font-family: roboto;
	font-size: 20px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 5px;
	cursor: pointer;
	border: none;
	background-color: #222;
	color: white;
	border-radius: 5px;
	width: 100px;
}
.ctrl-btn:hover{
	background-color: #444;
}.ctrl-btn:active{
	background-color: #333;
}
.cptr-res{
	position: absolute;
	display: inline-block;
	text-align: center;
	top: 0px;
	left: 0px;
	padding: 30px;
	border: 1px solid black;
}
.plyr-res{
	position: absolute;
	display: inline-block;
	text-align: center;
	top: 0px;
	right: 0px;
	padding: 30px;
	border: 1px solid black;
}
.cptr-res span{
	font-size: 50px;
}
.plyr-res span{
	font-size: 50px;
}
.ctrl-rld-btn{
	padding: 10px;
	font-family: roboto;
	font-size: 20px;
	cursor: pointer;
	border: none;
	background-color: #222;
	color: white;
	border-radius: 5px;
	width: 300px;
}
.ctrl-rld-btn:hover{
	background-color: #444;
}.ctrl-rld-btn:active{
	background-color: #333;
}
.mobilePopUp{
	position: absolute;
	top: 100;
	left: 200;
	color: red;
	font-weight: bolder;
	font-size: xx-large;
	display: none;
	font-family: roboto;
}
.promptScreen{
	display: block;
	padding: 0px;
	font-family: roboto;
	width: 100vw;
	height: 100vh;
	background-image: url(./img/bg.png);
	margin: 0;
}
.promptCard{
	width: 800px;
	height: 500px;
	background-color: white;
	font-family: roboto;
	border-radius: 10px;
	margin-left: 20%;
	margin-top: 3%;
	display: inline-block;
	padding: 10px;
}
.promptCard h1{
	padding: 20px;
}
.promptCard h4{
	margin-left: 5%;
}
.promptCard input{
	background-color: white;
	font-family: roboto;
	margin-left: 5%;
	height: 50px;
	width: 80%;
	padding: 20px;
	font-size: medium;
	border-radius: 10px;
	border: 1px solid #222;
	font-weight: 400;
}
.play{
	padding: 10px;
	font-family: roboto;
	font-size: 20px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 5px;
	cursor: pointer;
	border: none;
	background-color: #0066ff;
	color: white;
	border-radius: 5px;
	width: 100px;
}
.play:hover{
	background-color: #297efd;
}.play:active{
	background-color: #1370fc;
}
.reset{
	padding: 10px;
	font-family: roboto;
	font-size: 20px;
	margin-left: 470px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 5px;
	cursor: pointer;
	border: none;
	background-color: #ffd900;
	color: white;
	border-radius: 5px;
	width: 100px;
}
.reset:hover{
	background-color: #fcde38;
}.reset:active{
	background-color: #fcd915;
}
.promptCard span{
	margin-left: 5%;
	color: red;
	font-weight: bold;
	display: none;
}
.winnerScreen {
	display: none;
	padding: 0px;
	font-family: roboto;
	width: 100vw;
	height: 100vh;
	background-image: url(./img/bg.png);
	margin: 0;
}
.winnerScreenCard {
	width: 800px;
	height: 500px;
	background-color: white;
	font-family: roboto;
	border-radius: 10px;
	margin-left: 20%;
	margin-top: 3%;
	display: inline-block;
	padding: 10px;
}
#winorloose{
	color: rgb(253, 215, 0);
	text-align: center;
	padding: 15px;
}
#winner{
	color: rgb(253, 215, 0);
	padding: 15px;
}
.cptr-res-winscreen{
	position: relative;
	display: inline-block;
	text-align: center;
	top: 2%;
	left: 0%;
	padding: 30px;
	border: 1px solid rgb(158, 158, 158);
}
.plyr-res-winscreen{
	position: relative;
	display: inline-block;
	text-align: center;
	top: 2%;
	left: 4%;
	padding: 30px;
	border: 1px solid rgb(158, 158, 158);
}
.cptr-res-winscreen span{
	font-size: 30px;
}
.plyr-res-winscreen span{
	font-size: 30px;
}
.playAgain{
	padding: 10px;
	font-family: roboto;
	font-size: 20px;
	cursor: pointer;
	border: none;
	background-color: #0066ff;
	color: white;
	border-radius: 5px;
	width: 150px;
	position: relative;
	left: 80%;
	bottom: 11%;
}
.playAgain:hover{
	background-color: #297efd;
}.playAgain:active{
	background-color: #1370fc;
}
@media only screen and (max-device-width:1280px) {
    .mobilePopUp { display: block; }
	.container { display: none; }
	.promptScreen { display: none; }
	.winnerScreen { display: none; }
}